<ngx-loading [show]="loading"></ngx-loading>
<div class="background">
  <div class="gradient">
    <!-- Si el juego es nuevo ----------------------------------------------------------------------------------->
    <div class="container" *ngIf="current_game === null">
      <h1>{{ 'janken.pages.step1.title.long' | translate }}</h1>

      <form [formGroup]="form">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <mat-card>

              <div class="row">
                <div class="col-12">
                  <p> {{ 'janken.pages.desc' | translate }}</p>
                </div>
                <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                  <input matInput placeholder="{{ 'janken.pages.title.player1' | translate }}"
                    formControlName="player1">
                  <mat-error *ngIf="form.get('player1').invalid">
                    {{ 'janken.pages.title.player1' | translate }}
                    {{ 'janken.pages.error.required' | translate }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                  <input matInput placeholder="{{ 'janken.pages.title.player2' | translate }}"
                    formControlName="player2">
                  <mat-error *ngIf="form.get('player2').invalid">
                    {{ 'janken.pages.title.player2' | translate }}
                    {{ 'janken.pages.error.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row buttons d-flex justify-content-between pad">
                <div class="col-4 offset-4">
                  <button type="button" class="btn-block" mat-raised-button color="accent" [disabled]="form.invalid"
                    [ngClass]="routeAnimationsElements" (click)="start()">
                    {{ 'janken.pages.btn.start' | translate }}
                  </button>

                </div>

              </div>
            </mat-card>
          </div>
        </div>
      </form>
    </div>
    <!-- Si el juego es nuevo ----------------------------------------------------------------------------------->

    <!-- Si el juego esta en marcha  ----------------------------------------------------------------------------->

    <div *ngIf="current_game">
      <div class="container" *ngIf="current_game.status === 'started'">
        <h1>{{ 'janken.pages.step2.title.long' | translate }} <span
            *ngIf="current_game.game_sequence">{{getCurrentRoundNumber(current_game.game_sequence)}}</span></h1>
        <div class="row" *ngIf="current_game.game_sequence">
          <div class="col offset-2" *ngIf="current_round">
            <div *ngIf="current_round.player1 === null">
              <h2> {{ 'janken.pages.step2.subtitle.long' | translate}} {{ player1.name }} </h2>
              <mat-form-field>
                <mat-label>{{'janken.pages.step2.select-move' | translate}}</mat-label>
                <mat-select [(value)]="play1">
                  <mat-option *ngFor="let rule of rules" [value]="rule.move">
                    {{rule.move}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn-block" mat-raised-button color="accent" [disabled]="play1 === null"
                    (click)="setCurrentPlay('player1', play1)">
                    {{ 'janken.pages.step2.btn-play' | translate }}
                  </button>
                </div>
              </div>

            </div>

            <div *ngIf="current_round.player2 === null && current_round.player1">
              <h2> {{ 'janken.pages.step2.subtitle.long' | translate}} {{ player2.name }} </h2>
              <mat-form-field>
                <mat-label>{{'janken.pages.step2.select-move' | translate}}</mat-label>
                <mat-select [(value)]="play2">
                  <mat-option *ngFor="let rule of rules" [value]="rule.move">
                    {{rule.move}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn-block" mat-raised-button color="accent" [disabled]="play2 === null"
                    (click)=" setCurrentPlay('player2', play2)">
                    {{ 'janken.pages.step2.btn-play' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col">

              <h2> {{ 'janken.pages.step2.subtitle.score' | translate}}  </h2>

              <table class="table table-striped table-responsive-md btn-table">
                  <thead>
                    <tr>
                      <th>{{ 'janken.pages.step2.title.long' | translate}}</th>
                      <th>{{ 'janken.pages.step2.subtitle.winner' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let round of current_game.game_sequence.rounds; let i = index">
                      <td *ngIf="round.player1 !== null && round.player2 !== null">{{(i + 1)}}</td>
                      <td *ngIf="round.player1 !== null && round.player2 !== null">{{ getPlayerRoundWinner(round)}}</td>
                    </tr>
                  </tbody>
                </table>


          </div>

        </div>

      </div>
    </div>

    <!-- Si el juego esta en marcha  ----------------------------------------------------------------------------->


    <!-- Cuando el juego finaliza  ------------------------------------------------------------------------------->

     <div *ngIf="current_game">
        <div class="container" *ngIf="current_game.status === 'ended'">

          <div class="row">
              <div class="col-12 text-center">
                  <h1>{{ 'janken.pages.step3.title.long' | translate }}</h1>
                  <h2> {{ getPlayerWinner(current_game) }} {{ 'janken.pages.step3.subtitle.long' | translate}}  </h2>
               <div class="row">
                <div class="col-4 offset-4">
                    <button type="button" class="btn-block" mat-raised-button color="accent"
                    (click)="newGame()">
                    {{ 'janken.pages.step3.bnt-play-again' | translate }}
                  </button>
                </div>
               </div>
              </div>
            </div>

        </div>
      </div>

    <!-- Cuando el juego finaliza  ------------------------------------------------------------------------------->







  </div>
</div>
