<ngx-loading [show]="loading"></ngx-loading>
<div class="container" rtl>
  <br>
  <br>
    <h1>{{ 'janken.menu.settings.rules' | translate }}</h1>
    <div class="row">
      <div class="col-md-6">
        <h2>{{ 'janken.menu.settings.rules.subtitle1' | translate }}</h2>
        <mat-card *ngFor="let rule of rules" [ngClass]="routeAnimationsElements"
          (click)=select(rule)>
          <h3>Move: {{rule.move}} ->  Kill: {{rule.kills}}</h3>
        </mat-card>
        <p *ngIf="rules.length === 0">{{'anms.examples.crud.empty' | translate}}</p>
        <button type="button" mat-fab color="primary" class="add" [ngClass]="routeAnimationsElements"
          *ngIf="!isEditing" (click)="addNew(ruleForm)">
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>
      <div class="col-md-6">
        <span class="d-flex justify-content-between">
          <h2 *ngIf="!rule_selected">{{ 'janken.menu.settings.rules.subtitle.new' | translate }}</h2>
          <h2 *ngIf="rule_selected">{{ 'janken.menu.settings.rules.subtitle.edit' | translate }}</h2>
          <span class="d-flex justify-content-end">
            <span *ngIf="rule_selected">
              <button mat-icon-button color="accent" *ngIf="!isEditing" [disabled]="!rule_selected.editable">
                <fa-icon icon="edit" (click)="edit(rule_selected)" [matTooltip]="'anms.examples.crud.tooltip.edit' | translate"
                  matTooltipPosition="above">
                </fa-icon>
              </button>
              <button mat-icon-button color="warn" (click)="delete(rule_selected)" [disabled]="!rule_selected.editable">
                <fa-icon icon="trash" [matTooltip]="'anms.examples.crud.tooltip.delete' | translate"
                  matTooltipPosition="above">
                </fa-icon>
              </button>
              <button mat-icon-button (click)="deselect()">
                <fa-icon icon="times" [matTooltip]="'anms.examples.crud.tooltip.deselect' | translate"
                  matTooltipPosition="above">
                </fa-icon>
              </button>
            </span>
          </span>
        </span>

        <form #ruleForm="ngForm" [formGroup]="ruleFormGroup" [style.display]="isEditing ? 'block' : 'none'"
          [ngClass]="routeAnimationsElements">
          <div class="row">
            <mat-form-field class="col">
              <input matInput placeholder="{{ 'janken.menu.settings.rules.move.label' | translate }}"
                formControlName="move" required autofocus>
              <mat-error *ngIf="ruleFormGroup.get('move').invalid">

                {{ 'janken.pages.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col">
              <input matInput placeholder="{{ 'janken.menu.settings.rules.kills.label' | translate }}"
                formControlName="kills" required>
              <mat-error *ngIf="ruleFormGroup.get('kills').hasError('required')">

                {{ 'janken.pages.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <button (click)="save()" mat-raised-button color="primary">
                {{'janken.menu.settings.rules.crud.save' | translate }}
              </button>
              <button (click)="deselect()" mat-raised-button>
                {{'janken.menu.settings.rules.crud.cancel' | translate }}
              </button>
            </div>
          </div>
        </form>
        <br>
        <ng-container *ngIf="!isEditing">
          <div [ngClass]="routeAnimationsElements" *ngIf="rule_selected">
              <h3>Move: {{rule_selected.move}} ->  Kill: {{rule_selected.kills}}</h3>
          </div>

          <ng-template #noSelectedBookTmpl>
            <p [ngClass]="routeAnimationsElements">
              {{'anms.examples.crud.text' | translate }} <code>@ngrx/entity</code>.
            </p>
          </ng-template>
        </ng-container>

      </div>
    </div>
  </div>
