<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'anms.title.long' | translate }}</h1>

      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2>{{ 'anms.about.get-started' | translate }} ANGULAR</h2>
        <code>git clone
            git clone https://gitlab.com/janken1/ng_janken.git  ng_janken</code><br>
        <code>cd  ng_janken</code><br>
        <code>npm install</code><br>
        <code>npm start</code>
      </div>

      <div class="get-started" [ngClass]="routeAnimationsElements">
          <h2>{{ 'anms.about.get-started' | translate }} NODEJS / LOOBACK 3</h2>
          <code>git clone
              git clone https://gitlab.com/janken1/lb_janken.git  lb_janken</code><br>
          <code>cd  lb_janken</code><br>
          <code>npm install</code><br>
          <code>node .</code>
        </div>
    </div>
  </div>
</div>
<div class="container" rtl>
  <div class="contributors" [ngClass]="routeAnimationsElements">
    <h2>{{ 'janken.about.title.technologies' | translate }}</h2>


    <div class="contributors-wrapper">

  <a class="contributor" href="https://angular.io/" target="_blank">
    <img src="assets/logo-angular8.jpg">
    <span>Angular 8</span>
  </a>


  <a class="contributor" href="https://material.angular.io/" target="_blank">
    <img src="assets/logo-angular-material.jpg">
    <span>Angular Material</span>
  </a>


  <a class="contributor" href="https://github.com/tomastrajan/angular-ngrx-material-starter" target="_blank">
    <img src="assets/logo-angular-material-starter.jpg">
    <span>Angular Material Starter</span>
  </a>


  <a class="contributor" href="https://nodejs.org/en/" target="_blank">
    <img src="assets/logo-nodejs.jpg">
    <span>Nodejs</span>
  </a>


  <a class="contributor" href="https://loopback.io/" target="_blank">
    <img src="assets/logo-lb.jpg">
    <span>Looback 3</span>
  </a>



    </div>
  </div>
</div>
